{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <a style="text-decoration: none;" href="{% url 'profile' %}"><h6 class="mb-4">Personal information</h6></a>
            <a style="text-decoration: none;" href="{% url 'password_change' %}"><h6 class="mb-4">Change Password</h6></a>
            <a style="text-decoration: none;" href=""><h6 class="mb-4">Delete Account</h6></a>
        </div>
        <div class="col-9">
            <form method="post" style="width: 500px;">
                {% csrf_token %}
                <h2 class="border-bottom mb-4 pt-3 pb-2">Change Password</h2>
                {{ form|crispy }}
                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}