{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<div class="row">
    <div class="col-3">
        <a style="text-decoration: none;" href="{% url 'profile' %}"><h6 class="mb-4">Personal information</h6></a>
        <a style="text-decoration: none;" href="{% url 'password_change' %}"><h6 class="mb-4">Change Password</h6></a>
        <a style="text-decoration: none;" href=""><h6 class="mb-4">Delete Account</h6></a>
    </div>
    <div class="col-9">
        <div class="content-section">
            <div class="media d-flex">
                {% if user.profile.image %}
                    <img id="profileImage" class="rounded account-img" src="{{ user.profile.image.url }}" style="cursor: pointer;">
                {% else %}
                    <img id="profileImage" class="rounded account-img" src="#" style="cursor: pointer;">
                {% endif %}
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ p_form|crispy }}
                {{ u_form|crispy }}
                <input type="file" id="id_image" name="image" style="display: none;">
                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-outline-info">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("profileImage").onclick = function() {
        document.getElementById("id_image").click();
    };
    document.getElementById("id_image").onchange = function() {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById("profileImage").src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
    };
</script>
{% endblock %}
