<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <h2>Search by categories:</h2>
    {% for category in categories %}
        <a href="{% url 'subcategory_list' maincategory.name category.name %}"><h5>{{category.name}}</h5></a>
    {% endfor %}
    <h2>All Products:</h2>
        {% if maincategory.name == "Computers" %}
            {% for pc in PCs %}
                <a href="#"><h4>{{pc.title}}</h4></a>
            {% endfor %}
            {% for laptop in laptops %}
                <a href="#"><h4>{{laptop.title}}</h4></a>
            {% endfor %}
            {% for tablet in tablets %}
                <a href="#"><h4>{{tablet.title}}</h4></a>
            {% endfor %}
        {% endif %}
</body>
</html>