{% extends 'base.html' %}

{% load static %}

{% block title %} Home Page {% endblock %}
{% block body %}
<div class="cat-toggle">
    <button type="button" class="category-btn btn btn-success mb-3"> Shop By Category</button>
    <div class="cat__menu">
        <nav id="mobile-menu" style="display: block;">
            <ul id="maincategories-list">
                {% for maincategory in maincategories %}
                <li class="maincategory-item">
                    <a href="{% url 'maincategory_list' maincategory.name %}">
                        <h5>{{ maincategory.name }}</h5>
                    </a>
                    <ul class="mega-menu">
                        {% for category in maincategory.category_set.all %}
                        <li class="category-item">
                            <a href="{% url 'product_list' maincategory.name category.name %}">
                                <p class="category-p">{{ category.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <h5 class="mb-3">Total Products : {{products|length}}</h5>
    {% for product in products %}
            <div class="col col-md-3 mb-3">
                <div class="card" style="width: 16rem;">
                    <a href="{% url 'product_detail' maincategory_name=product.category.maincategory.name category_name=product.category.name product_pk=product.pk %}" style="text-decoration: none;">
                        {% if product.image %}
                            <div style="height: 254px; text-align: center">
                                <img src="{{product.image.url}}" class="card-img-top" style="width: 90%; max-height: 95%" alt="{{product.name}}">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h6 style="height: 70px; color:rgb(44, 43, 43)" class="card-title">{{ product.name }}</h6>
                            <p style="height: 50px; color:rgb(65, 64, 64)" class="card-text mb-2">{{ product.description|slice:":40" }}...</p>
                        </div>
                    </a>
                    <div class="card-footer d-flex justify-content-between align-items-center" style="height: 50px;">
                        <b>${{product.price|floatformat:1}}</b>
                        <a href="{% url 'cart_add' product.id %}">Add To Cart</a>
                        {% if user.is_authenticated %}
                            <a href="#" class="watchlist-toggle" data-product-id="{{ product.id }}">
                                {% if product.id in watchlist %}
                                    <i class="fa-solid fa-heart text-danger"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}"><i class="fa-regular fa-heart"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}

</body>

</html>