{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}

{% block title %}My Orders{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        <a style="text-decoration: none;" href="{% url 'order_list' %}"><h5 class="mb-3">Purchases</h5></a>
        <a style="text-decoration: none;" href="{% url 'watchlist' %}"><h5 class="mb-3">Watchlist</h5></a>
        <a style="text-decoration: none;" href="{% url 'my_products' %}"><h5 class="mb-3">My Products</h5></a>
    </div>
    <div class="col-8">
        <h5>My Orders</h5>
        <hr>
        {% for order in orders %}
            <div class="order">
                <div class="p-2 bg-secondary bg-opacity-10 border border-secondary rounded mb-2">
                    <h5>Order date: {{ order.created_at }} • Order total: ${{ order.total_price }} • Order ID: {{ order.id }}</h5>
                    {% for item in order.items.all %}
                    <div class="card mb-3 mt-4" style="width: 100%">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="{% url 'product_detail' item.product.category.maincategory.name item.product.category.name item.product.pk %}">
                                    {% if item.product.image %}
                                        <img src="{{item.product.image.url}}" class="img-fluid rounded-start" style="height: 150px;" alt="...">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.product.name }}</h5>
                                    <p class="card-text">Price: ${{ item.price }}</p>
                                    <p class="card-text">Qty: {{ item.quantity }}</p>
                                    <p class="card-text">Total Price: ${{ item.price|multiply:item.quantity }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}