{% extends 'base.html' %}

{% block body %}
    <h1>Product: {{product.name}}</h1>
    <h6>Quantity: {{product.quantity}}</h6>
    <a href="{% url 'cart_add' product.pk %}">Add To Cart</a>
    {% if is_in_watchlist %}
        <a href="{% url 'remove_from_watchlist' product.pk %}">Remove From Watchlist</a>
    {% else %}
        <a href="{% url 'add_to_watchlist' product.pk %}">Add To Watchlist</a>
    {% endif %}
    <a href="{% url 'purchase' product.pk %}">Buy It Now</a>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}