{% extends 'base.html' %}

{% block body %}
    <div class="categories" style="margin-top: -10px;">
        <p >
            <a style="color: rgb(90, 90, 90)" href="{% url 'index' %}">Technic</a> >
            <a style="color: rgb(90, 90, 90)" href="{% url 'maincategory_list' maincategory.name %}">{{maincategory.name}}</a> > 
            <a style="color: rgb(90, 90, 90)" href="{% url 'product_list' maincategory.name category.name %}">{{category.name}}</a>
        </p>
    </div>
    <div class="row mb-4">
        <div class="col-2">
            <a style="text-decoration: none;" href="{% url 'order_list' %}"><h5 class="mb-3">Purchases</h5></a>
            <a style="text-decoration: none;" href="{% url 'watchlist' %}"><h5 class="mb-3">Watchlist</h5></a>
            <a style="text-decoration: none;" href="{% url 'my_products' %}"><h5 class="mb-3">My Products</h5></a>
        </div>
        <div class="col-5 ">
            {% if product.image %}
                <img src="{{product.image.url}}" alt="{{product.name}}" class="w-100 rounded">
            {% endif %}
        </div>
        <div class="col-5">
            <h4>{{product.name}}</h4>
            <hr>
            <div class="rounded bg-white p-3" style="max-height: 250px">
                <p>{{product.description}}</p>
            </div>
            <hr>
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0">Seller: {{product.owner}}</h6>
                <a href="{% url 'seller_products' product.owner %}">Seller's other items</a>
            </div>
            <hr>
            <h5 class="mb-3">Price: ${{product.price|floatformat:2}}</h5>
            <h6 class="mb-0">Quantity:  {% if product.quantity > 0 %}
                                            {{product.quantity}}
                                        {% else %}
                                            out of stock
                                        {%  endif %}
            </h6>
            <hr>
            <div class="d-flex flex-column" style="gap: 15px;">
                {% if is_in_watchlist %}
                    <a class="btn btn-success rounded-pill p-2" href="{% url 'remove_from_watchlist' product.pk %}">Remove From Watchlist</a>
                {% else %}
                    <a class="btn btn-outline-success rounded-pill p-2" href="{% url 'add_to_watchlist' product.pk %}">Add To Watchlist</a>
                {% endif %}
                {% if product.quantity > 0 %}
                    <a class="btn btn-primary rounded-pill p-2" href="{% url 'purchase' product.pk %}">Buy It Now</a>
                    <a class="btn btn-primary rounded-pill p-2" href="{% url 'cart_add' product.pk %}">Add To Cart</a>
                {% else %}
                    <a class="btn btn-secondary rounded-pill p-2 disabled" href="{% url 'purchase' product.pk %}">Buy It Now</a>
                    <a class="btn btn-secondary rounded-pill p-2 disabled" href="{% url 'cart_add' product.pk %}">Add To Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}